<div>
  <div>
    <h1>
      List of all subjects with Tutors!
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new subject that YOU can teach
    </h2>

    <form action="/insert_subjects_can_teach" method="post">
      <div>
        <label for="user_id_box">
        </label>

        <input type="hidden" id="user_id_box" name=session.fetch(:user_id)>
      </div>

      <div>
        <label for="subject_id_box">
          Subject Course Num (e.g. 'Math 151')
        </label>

        <input type="text" id="subject_id_box" name="query_subject_id">
      </div>

      <button>
        Create subjects can teach
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Subject
        </th>

        <th>
          Course Num
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_subjects_can_teaches.each do |a_subjects_can_teach| %>
      <tr>
        <td>
          <%= a_subjects_can_teach.id %>
        </td>

        <td>
          <%= a_subjects_can_teach.user.first_name + " " + a_subjects_can_teach.user.last_name %>
        </td>

        <td>
          <%= a_subjects_can_teach.subject.name %>
        </td>

        <td>
          <%= a_subjects_can_teach.subject.subject_course_num %> 
        </td>
        <td>
          <%= time_ago_in_words(a_subjects_can_teach.updated_at) %> ago
        </td>

        <td>
          <a href="/subjects_can_teaches/<%= a_subjects_can_teach.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
