<div>
  <div>
    <h1>
      Subjects <%= @the_subjects_can_teach.user.first_name  %> can teach
    </h1>

    <div>
      <div>
        <a href="/subjects_can_teaches">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_subjects_can_teach/<%= @the_subjects_can_teach.id %>">
          Delete subjects can teach
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Full Name
      </dt>
      <dd>
        <%= @the_subjects_can_teach.user.first_name + " " + @the_subjects_can_teach.user.last_name %>
      </dd>


      <table>
      <tr>
        <th>
          Subjects Taught
        </th>
        <th>
          Delete Subject
        </th>
      </tr>
      <% @list_of_subjects_user_teaches.each do |sub| %>
      <tr>
        <td>
        <li><%=sub.subject.name%></li>
        </td>
        <td>
        <a href="/delete_subjects_can_teach/<%=sub.id%>"> Delete This Subject </a>
       
        </td>
      <%end%>


      </tr>
     
    </dl>
  </div>
</div>

