<div>
  <div>
    <h1>
      Subjects <%= @the_subjects_can_teach.user.first_name  %> can teach
    </h1>


    <dl>
      <dt>
        Full Name
      </dt>
      <dd>
        <%= @the_subjects_can_teach.user.first_name + " " + @the_subjects_can_teach.user.last_name %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @the_subjects_can_teach.user.email %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_subjects_can_teach.user.bio %>
      </dd>


      <table>
      <tr>
        <th>
          Subjects Taught
        </th>
        <%if session.fetch(:user_id) == @the_subjects_can_teach.user.id %>
          <th>
              Delete Subject
            </th>
        <%end%>
         <% @list_of_subjects_user_teaches.each do |sub| %>
        <tr>
          <td>
          <%=sub.subject.name%>
          </td>
          <%if session.fetch(:user_id) == @the_subjects_can_teach.user.id %>
            <td>
            <a href="/delete_subjects_can_teach/<%=sub.id%>"> Delete This Subject </a>
            </td>
          <%end%>
        </tr>
        <%end%>
      </table>

    </dl>
  </div>
</div>

<div>
  <h2> Review of Tutor </h2>
    <table>
    <tr>
      <th>Reviewer</th>
      <th>Review</th>
      <th>Posted</th>
    </tr>

    <tr>
      <td>
        debbi
      </td>

      <td>
        Beware the barrenness of a busy life.
      </td>

      <td>
        2018-05-06 15:13:40 UTC
      </td>
    </tr>

    </table>




  <h3> Add a review! </h3>

</div>

