<div>
  <div>
    <h1>
      Subjects <%= @the_subjects_can_teach.user.first_name  %> can teach
    </h1>


    <dl>
      <dt>
        Full Name
      </dt>
      <dd>
        <%= @the_subjects_can_teach.user.first_name + " " + @the_subjects_can_teach.user.last_name %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @the_subjects_can_teach.user.email %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_subjects_can_teach.user.bio %>
      </dd>


      <table>
      <tr>
        <th>
          Subjects Taught
        </th>
        <%if session.fetch(:user_id) == @the_subjects_can_teach.user.id %>
          <th>
              Delete Subject
            </th>
        <%end%>
         <% @list_of_subjects_user_teaches.each do |sub| %>
        <tr>
          <td>
          <%=sub.subject.name%>
          </td>
          <%if session.fetch(:user_id) == @the_subjects_can_teach.user.id %>
            <td>
            <a href="/delete_subjects_can_teach/<%=sub.id%>"> Delete This Subject </a>
            </td>
          <%end%>
        </tr>
        <%end%>
      </table>

    </dl>
  </div>
</div>

<div>
  <h2> Review of Tutor </h2>
    
    <form action="/post_comment" method="post">
    
    <input type="hidden" name="posting_user_id_box" value=<%=session.fetch(:user_id)%>>
    <label for="comment">
    <input type="text" id="comment" name="query_comment">
    <input type="hidden" name="reviewed_user_id_box" value=<%=@the_subjects_can_teach.user.id%>>
    <input type="hidden" name="redirect_id" value=<%=@the_subjects_can_teach.id%>>
      <button>
        Post!
      </button>
    </form>
  </div>
  <div>

    <table>
    <tr>
      <th>Reviewer</th>
      <th>Review</th>
      

    </tr>
    <%@the_subjects_can_teach.user.reviews.each do |a_comment|%>
    <tr>
      <td>
      <%commenter = User.where(:id=>a_comment.user_id).at(0)%>
      <%=commenter.first_name%>
      </td>
      <td>
      <%=a_comment.body%>
      </td>
      <%if a_comment.user_id == session.fetch(:user_id)%>
        <td>
          <a href="/delete_comment/<%=a_comment.id%>">Delete Comment</a>
        </td>
        <td>
          <a href="/edit_comment/<%=a_comment.id%>">Edit Comment</a>
        </td>
      <%end%>
    </tr>
    <%end%>
    </table>

</div>

