<div>
  <div>
    <h1>
      Subject <%= @the_subject_need_help_in.user.first_name %> needs help in
    </h1>

    <dl>
      <dt>
        Full Name
      </dt>
      <dd>
        <%= @the_subject_need_help_in.user.first_name + " " +  @the_subject_need_help_in.user.last_name%>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @the_subject_need_help_in.user.email%>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_subject_need_help_in.user.bio%>
      </dd>
    </dl>
  </div>
</div>



      <table>
      <tr>
        <th>
          Subjects Needed Help In
        </th>
        <%if session.fetch(:user_id) == @the_subject_need_help_in.user.id %>
          <th>
              Delete Subject
            </th>
        <%end%>
         <% @list_of_all_subjects_user_needs_help_in.each do |sub| %>
        <tr>
          <td>
          <%=sub.subject.name%>
          </td>
          <%if session.fetch(:user_id) == @the_subject_need_help_in.user.id %>
            <td>
            <a href="/delete_subject_need_help_in/<%= @the_subject_need_help_in.id %>"> Delete subject need help in </a>
            </td>
          <%end%>
        </tr>
        <%end%>
<<<<<<< HEAD
    </table>
<div>
 
=======
      </table>
<div>
  

>>>>>>> trying_to_fix_comment_feature


